button {
 width: 150px;
 display: block;
 margin: 5px;
 color: #ffff;
 border: none;
 border-radius: 5px;
 padding: 15px;
}

.button {
 background-color: rgb(255, 179, 93);
 
}
.button2 {
 background-color: rgb(93, 223, 255); 
}

.button3 {
 background-color: rgb(211, 153, 255); 
}
